<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kabaybay"
        tools:targetApi="31">
        <activity
            android:name=".da_baybay"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ka_baybay"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ba_baybay"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".baybay"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Sulat"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ya"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Wa"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Sa"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pa"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Na"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ma"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".La"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ha"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ga"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Da"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Patinig"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Katinig"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Rebolusyon"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Koloniyalisasyon"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Simula"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ta"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ka"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ba"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Settings"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pagsusulit_pagbasa"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pagsusulit_Pagsusulat"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Kasaysayan"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Pagsusulat"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pagbasa"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
    </application>

</manifest>